body {
    background: #fff;
    font-family: "Segoe UI", sans-serif;
}

.custom-card {
    border-radius: 12px;
    padding: 25px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.table thead {
    background: #0d6efd;
    color: white;
}

.modal-header {
    background: #0d6efd;
    color: white;
}

.btn-add {
    background: #0d6efd;
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
}
.btn-add:hover {
    background: #0b5cd6;
}

.search-box input {
    border-radius: 8px;
}
